.vscode
Code/a.exe
Code/decoder.exe
Code/encoder.exe
Code/Algorithms/Ciphering/PlayFair Cipher/a.exe
Code/Decoder_Module.exe
Code/Encoder_Module.exe
Code/file.txt
.gitignore
Code/file.txt.ef
Code/Decrypted
